.services-wrapper {
    background-color: $navyblue;
    position: relative;
    padding:50px 0 150px 0;
    &:after {
        content: '\25BC';
        position: absolute;
        left: 48%;
        transform: translate(-50%, -48%);
        bottom: -20px;
        color: $yellow;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }
    &:before {
        content: '\25BC';
        position: absolute;
        left: 48%;
        transform: translate(-50%, -48%);
        bottom: -65px;
        color: $red;
        justify-content: center;
        align-items: center;
        font-size: 80px;
    }
    .services-intro {
        margin:0 auto;
        text-align: center;
        h2, p {
            font-family:$montserrat;
            color: $white;
        }
        h2 {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom:20px;
        }
        p {
            max-width: 560px;
            margin: 0 auto;
        }
    }
    .timeline-dots {
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        .timeline-copy {
            color: $white;
            font-size: 16px;
            line-height: 26px;
            p {
                max-width: 460px;
            }
        }
        .circle { 
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin:50px 0;
            width:100%;
            .timeline-image {
                // border:15px dotted $black;
                border-radius: 100%;
                padding:10px;
                box-sizing:border-box;
                position: relative;
                .imgLarge {
                    width: 350px;
                    height: 350px;
                    object-fit: cover;
                    border-radius: 100%;
                }
                .icon {
                    border-radius: 100%;
                    position: relative;
                    padding:20px;
                    box-sizing:content-box;
                    width: 70px;
                }
            }
            &.one {
                margin-top:10px;
                .timeline-image {
                    order:1;
                }
                .timeline-copy {
                    order:0;
                }
                .icon {
                    background-color: orange;
                    border: 13px solid #e0950b;
                    position: absolute;
                    bottom: -100px;
                    right: 410px;
                }
            }
            &.two {
                .icon {
                    background-color:#4682b4;
                    border:13px solid gray;
                    position: absolute;
                    bottom: -100px;
                    left: 410px;
                }
            }
            &.three {
                .timeline-image {
                    order:1;
                }
                .timeline-copy {
                    order:0;
                }
                .icon {
                    background-color:$yellow;
                    border:13px solid #2b2b00;
                    position: absolute;
                    bottom: -100px;
                    right: 410px;
                }
            }
        }
    }
}