$black: #000;
$white:#fff;
$darkslategray:#2f4f4f;
$darkgrey:#30323D;
$lightgrey:#4D5061;
$navyblue:#2c3e50;

$red:#f70135;
$yellow:#ffce45;
$darkcyan:#008b8b;

$montserrat: 'Montserrat', sans-serif;
$raleway:'Raleway', sans-serif;
$opensans:'Open Sans', sans-serif;