$black: #000;
$white:#fff;
$darkslategray:#2f4f4f;
$darkgrey:#30323D;
$lightgrey:#4D5061;
$navyblue:#2c3e50;

$montserrat: 'Montserrat', sans-serif;
$raleway:'Raleway', sans-serif;
$opensans:'Open Sans', sans-serif;